body {
  font-family: Palatino Linotype;
  background-color: grey;
  
}

.nav-area{ 
float: right;
list-style:none; 
margin-top: 50px; 
}

.nav-area li {
  display: inline-block;
}

.nav-area a{ 
color: #000000;
text-decoration: none;
padding: 10px 20px; 
  font-family: poppins;
  font-size: 22px;
}

.nav-area li a:hover{ 
background: #fff;
color:#000000;
}

.logo img{ 
width: 75px;
float: left;
margin-top: 0px; 
}

p { 
  border: 1px solid #fff;
  padding: 50px 100px;
  text-decoration: none;
  text-transform: uppercase;
  font-size; 10px;
  margin-top: 20px;
  display: inline-block;
  color: #000000;
  position: absolute;
  margin: 15% 20%;
  margin-left: 200px; 
  margin-right:200px;
  
}