                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        body {
  font-family: arial;
  background-color: white;
  text-align: center;
}
.page {
  margin: 40px auto;
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
  padding: 50px 200px 50px 200px;
}
.main-nav {
  background-image:url(https://66.media.tumblr.com/717d70fb3289d0a7799ba2543740deb0/tumblr_mvlix4GkWh1sjwwzso1_500.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -15px;
  padding: 20px 150px 20px 150px
}
h1 {
  background-color: purple;
}
div {
  background-color: pink;
  width: 300px;
  border: 20px solid green;
  padding: 25px;
  margin: 25px;
}
p {
  background-color: cyan;
}
h1 {
  border-style: solid;
  border-width: 25px 25px 25px 25px
}